<% rank = 1 %>
<% items.each do |item| %>
<a href="<%= item['itemUrl'] %>" target="_blank">
<div class="panel over">
  <div class="row">
    <div class="small-5 columns">
      <div class="rank"><%= rank %>位</div><br/>
      <%= image_tag(item['smallImageUrls'][0]['imageUrl'], size:'72x72', alt:item['itemName']) %>
    </div>
    <div class="small-7 columns">
      <dl>
        <dt><%= truncate(item['itemName'], length:28, omission:'...') %></dt>
        <dt class="price"><%= number_with_delimiter(item['itemPrice']) %>円</dt>
        <dt class="review">評価：<%= raw(show_stars(item['reviewAverage'])) %>(<%= item['reviewCount'] %>件)</dt>
      </dl>
    </div>
  </div>
</div>
</a>
<% rank += 1 %>
<% end %>
